.task-manager #new-task {
  display: flex;
  justify-content: center;
  min-height: 45px;
  margin: 30px 10px;
  max-width: 100%;
  width: 75vw;
}

.task-manager #new-task input {
  border: 0;
  border-radius: 5px;
  padding: 10px;
  margin-right: 5px;
  width: 80%;
}

.task-manager #new-task button:hover {
    opacity: 0.9;
}

.task-manager .task-list {
  margin: 20px 0;
  padding: 0 10px;
  max-width: 100%;
  width: 60vw;
  overflow: auto;
  max-height: 320px;
}

.task-manager .task-list::-webkit-scrollbar {
  width: 15px;
  margin-left: 10px;
}

.task-manager .task-list::-webkit-scrollbar-track {
  background: #f6f6f6;
}

.task-manager .task-list::-webkit-scrollbar-thumb {
  background-color: #E26177;
  border-radius: 15px;
  border: 3px solid #f6f6f6;
}

.task-manager .task-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 5px;
  background-color: #f6f6f6;
}

.task-manager .task-list li span {
  cursor: pointer;
}

@media (max-width: 768px) {
    .task-manager #new-task {
        margin: 30px 0;
        width: 90vw;
    }

    .task-manager .task-list {
        width: 90vw;
    }
}